/* source color */
//https://colorhunt.co/palette/f6f1f1afd3e219a7ce146c94

$bg-nav: #1b2430;
$color-1: #146C94;
$color-2: #00acf3;
$color-3: #AFD3E2;
$color-4: #eeeeee;
$color-5: #e3e3e3;
$color-6: #f8f8f8;

//images
$logo: url("https://res.cloudinary.com/ds8i6jriz/image/upload/v1691837162/MyImages/UniversityEntrance/logo/logo_styetv.png");
$logo-full: url("https://res.cloudinary.com/ds8i6jriz/image/upload/v1691837162/MyImages/UniversityEntrance/logo/logofull_nobg_bxnzgd.png");

//font
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");